/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-color: #DB00FF;
  --bg-color: #000028;
  --accent-bg-color: #ff0070;
  --accent-color: 255, 0, 112;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --font-weight: 700;
  --coner-image: url('../images/cover-image-dark.png');
}